*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body {
    background-color: rgb(36,45,52) ;  
}

#wrapper {
    background-color: rgb(36,45,52) ;
    height: 100%;
    width : 100%;
    padding-top: 30px;
} 

/* main container that holds every element */
.container {
    margin-top: 30px;
    height: 550px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: auto;
    border-radius: 20px;
}

/* for the X logo */
.logo {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    align-self: center;
}

/* heading for sign in */
h2 {
    padding-top: 35px;
    padding-left: 150px;
    font-family: sans-serif ;
    font-size: 30px;
    font-weight: 700;
}

/* flex container for sign in buttons */
.signin {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* button styling for login buttons */
.login {
    background-color: white;
    color: black;
    width: 300px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login:hover {
    background-color: rgb(230,230,230) ;
}

.forgotpassword:hover {
    background-color: rgb(24,25,25);
}

/* input field for username */
.username {
    margin-top: 10px;
    background-color: black;
    width: 50%;
    height: 50px;
    align-self: center;
    border: 1px solid rgb(29,31,32);
    font-size: 18px;
    padding-left: 5px;
    color: white ;
}

/* next buton */
.next {
    align-self: center;
    margin-top: 30px;
    font-weight: 600;
    font-family: sans-serif;
}

/* forgot pass button */
.forgotpassword {
    align-self: center;
    margin-top: 30px;
    color: white;
    background-color: black;
    font-weight: 600;
    border: 1px solid rgb(29,31,32);
}

/* container for sign up button , common for apple and google */
.google {
    display: flex;
    gap: 7px;
}

/* styling of apple and google png */
.googlelogo {
    object-fit: cover;
    height: 20px;
    width: 20px;
}

/* styling of bars near "or" text  */
.or {
    width: 140px;
    height: 0;
    border: 1px solid rgb(29,31,32) ;
    align-self: center;
}


/* small screen size */
@media screen and (max-width : 600px) {
    body {
        background-color: black;
    }
    #wrapper {
        padding-top: 0;
        background-color: black;
        display: flex;
    }
    h2 {
        padding-top: 100px;
        padding-left: 23vw;
    }
    .container {
        background-color: black;
        margin-left: 0;
    }
    
}
